<form>
  <div class="form-group">
    <label for="input1">Title</label>
    <input type="text" class="form-control" id="input1" placeholder="Champion build guide">
  </div>
  <div class="form-group">
    <label for="select1">Champion</label>
    <select class="form-control" id="select1">
      <option>Champ 1</option>
      <option>Champ 2</option>
      <option>Champ 3</option>
      <option>Champ 4</option>
      <option>Champ 5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">About You</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Guide</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="8"></textarea>
  </div>
  <div class="btn-group" data-toggle="buttons">
    <label class="btn btn-secondary active">
      <input type="radio" name="options" id="option1" autocomplete="off" checked> Radio 1 (preselected)
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
    </label>
    <label class="btn btn-secondary">
      <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
    </label>
  </div>
</form>
