<form onSubmit="submitGuide()">
  <div class="form-group">
    <label for="input1">Title</label>
    <input type="text" class="form-control" id="title" placeholder="Champion build guide" required>
  </div>
  <div class="form-group">
    <label for="select1">Champion</label>
    <select class="form-control" id="champion" required>
      <option selected>Choose...</option>
      <option>Ashka</option>
      <option>Ezmo</option>
      <option>Iva</option>
      <option>Jade</option>
      <option>Jumong</option>
      <option>Taya</option>
      <option>Varesh</option>
      <option>Bakko</option>
      <option>Croak</option>
      <option>Freya</option>
      <option>Raigon</option>
      <option>Rook</option>
      <option>Ruh Kaan</option>
      <option>Shifu</option>
      <option>Thorn</option>
      <option>Blossom</option>
      <option>Lucie</option>
      <option>Oldur</option>
      <option>Pearl</option>
      <option>Pestilus</option>
      <option>Poloma</option>
      <option>Sirius</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">About You</label>
    <textarea class="form-control" id="aboutyou" rows="2" required></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Guide</label>
    <textarea class="form-control" id="guide" rows="8" required></textarea>
  </div>
  <div class="form-group">
    <label for="select1">Playstyle</label>
    <select class="form-control" id="playstyle" required>
      <option selected>Choose...</option>
      <option>Passive</option>
      <option>Agressive</option>
      <option>Defensive</option>
      <option>Supportive</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
